* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    line-height: 1.6;
}

#veridict {
    color: fuchsia;
    margin: auto;

}
.buttons {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    min-width: min-content;
    margin-inline: auto;
    padding: 0;
}
.mark {
    border: solid blue 1px;
}